# Bỏ qua các thư mục node_modules cục bộ
node_modules

# Bỏ qua thư mục build hoặc các thư mục khác do bạn tạo ra (nếu có)
build
dist

# Bỏ qua các file và thư mục cấu hình môi trường
.env
.env.local
.env.*.local

# Bỏ qua thư mục cache của Expo
.expo
.expo-shared

# Bỏ qua các file nhật ký và tệp hệ thống
*.log
*.lock
.DS_Store
**/.git
**/node_modules